body {
  margin: 0;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerdark {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #313e51;
  color: #fefefe;
  padding-left: 2rem;
  position: relative;
}
.containerlight {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: black;
  padding-left: 2rem;
  position: relative;
}
.switch {
  position: absolute;
  top: 2rem;
  right: 6rem;
}

.darkmode {
  position: absolute;
  top: 2.2rem;
  right: 4rem;
}

.lightmode {
  position: absolute;
  top: 2.2rem;
  right: 10rem;
}

.links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 3rem;
}

.linkdark {
  width: 300px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #3c4c67;
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
}

.linklight {
  width: 300px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #fefefe;
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
}

.icondark {
  font-size: 20px;
  padding: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #697282;
}

.iconlight {
  font-size: 20px;
  padding: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 0.5rem;
  background-color: #cfd0d2;
}
.quiztitle {
  font-size: 20px;
  padding: 0 1rem;
}

.title1 {
  font-weight: 200;
  font-size: 3rem;
}

.title2 {
  font-weight: 500;
  font-size: 3rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 4rem;
}

.subtitle {
  font-weight: 100;
  margin: 1rem;
}
